<launch>
  
    <group ns="CBR">
        <node pkg="ger_drone_cbr" type="estrategia" name="estrategia" output="screen">
            <remap from="/qr_codes" to="/processaVideo/qr_codes" />
		    <remap from="/destino" to="/ir_para" />
        </node>
        <node pkg="ger_drone_cbr" type="controleARDrone" name="controle"/>
        <node name="interface" pkg="ger_drone_cbr" type="interface2.py"/>
        <node pkg="sound_play"  type="soundplay_node.py" name="sound_play_node"/>
    </group>   

    <group ns="processaVideo">
        <node pkg="nodelet" type="nodelet" name="detectaQR" args="standalone qr_detector/qr_detector_nodelet">
            <remap from="image" to="/camera_baixo/raw" />
        </node>

        <node pkg="find_object_2d" type="find_object_2d" name="find_object">
            <param name="objects_path" type="string" value="~/GERDrone/Objetos"/>
            <remap from="image" to="/camera_baixo/raw"/>
        </node>
        
        <node pkg="find_object_2d" type="print_objects_detected" name="print_object"/>

        <node pkg="ger_drone_cbr" type="ip_camera.py" name="camera_baixo"/>
    </group>


</launch>
